body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Karla Normal', 'Karla Bold', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Karla Normal', 'Karla Bold', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Karla Normal";
  src: local("Karla-Regular"), url(./styling/fonts/Karla-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Karla Bold";
  src: local("Karla-Bold"), url(./styling/fonts/Karla-Bold.ttf) format("truetype");
}

p {
  font-family: "Karla Normal";
}
